@import url('https://fonts.googleapis.com/css?family=Dosis|Lato');

//vars
$prime-font: 'Lato', sans-serif;
$second-font:'Dosis', sans-serif;

$font-color-light-green: #aed250;
$font-color-deep-brown: #ac822c;
html body{
    margin: 0px;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}

*{
    font-family: $second-font;
    h1,h2,h3,h4{
        text-align: center;
        color: rgb(189, 189, 189);
        font-family: $prime-font;
        font-size: 40px;
    }
    h1{
        text-shadow: 1px 1px 4px black;
    }
}
.page-content{
    flex: 1 0 auto;
}
.main-nav-bar{
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 70px;
    line-height: 5;
    .nav-content{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        .nav-logo{
            width: 50px;
            height: 38px;
            position: absolute;
            left: 48%;
            top: 1px;
            background: {
                image: url(/assets/green-hills_coffee_logo.png);
                size: contain;
                repeat: no-repeat;
            }
        }
        .nav-elements{
            margin: auto;
        
            ul{
                text-align: right;
                li {
                    display: inline;
                    margin-left: 20px;
                    font-size: 20px;
                }
                a{
                    text-decoration: none;
                }
                a:hover{
                    color:rgb(172, 177, 182);
                }
            }
        }
    }
}
.main-nav-bar-original{
    @extend .main-nav-bar;
    .nav-logo{
        display: none;
    }
    a{
        color: black ;
    }
}
.main-nav-bar-scroll{
    @extend .main-nav-bar;
    .nav-logo{
        display: block;
    }
    background-color: black;
    a{
        color: white ;
    }
}

//Landing elements
.header-section{
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: relative;
    overflow: hidden;
    margin-bottom: 75px;
    background: {
        image: url(/assets/coffee-bean.jpg);
        attachment: fixed;
    } 
    .main-logo{
        position: absolute;
        top: 25%;
        width: 100%;
        height: 310px;
        background: {
            image: url(/assets/green-hills_coffee_logo.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }
    }
    .brand-title{
        width: 100%;
        margin: auto;
        position: absolute;
        top: 60%;
        h3{
            text-shadow: 4px 3px 5px black;
            font-size: 50px;
            color: $font-color-light-green;
        }
    }
    
}

.body-section{
    width: 70%;
    margin: auto;
    z-index: 2;
    position: relative;
}
    .about{
        @extend .body-section;
        margin: auto;
           
        
        height: 450px;
        h3{
            font-size: 20px;
            color: $font-color-deep-brown;
        }
    }
    .products{
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
        height: 370px;
        overflow: hidden;
        // background: {
        //     image: url(/assets/coffee-bean-fall.jpg);
        //     size: contain;
        //     attachment: fixed;
        //     repeat: no-repeat;
        // }
        .product-holder{
        @extend .body-section;
            h1{
                margin-bottom: 40px;
            }
            .main-product-container{
                
                margin: auto;
                display: flex;
                flex-direction: row;
                .coffee{
                    height: 200px;
                    width: 100px;
                    transition: all .2s ease-in-out;  
                    cursor: pointer;
                    background: {
                        size: contain;
                        repeat: no-repeat;
                    }              
                }
                .coffee:hover{
                    transform: (scale(1.5));                
                }
                .black-coffee{
                    @extend .coffee;
                    background: {
                        image: url(/assets/black-coffee.png);
                    }
                }
                .iced-coffee{
                    @extend .coffee;
                    background: {
                        image: url(/assets/iced-coffee.png);
                    }
                }
    
                .mocha-coffee{
                    @extend .coffee;                
                    background: {
                        image: url(/assets/mocha-coffee.png);
                    }
                }
                .vanilla-coffee{
                    @extend .coffee;                
                    background: {
                        image: url(/assets/vanilla-latte-coffee.png);
                    }
                }
    
            }
        }
    }
    .contact{
        height: 350px;
        margin-bottom: 50px;        

        .contact-content{
            @extend .body-section; 
            
        }
    }
    .company{
        margin-bottom: 50px;        
        @extend .body-section;        
        
    }
    .events{
        margin-bottom: 50px;        
        @extend .body-section; 
            
        
    }

.footer{
    position: relative;
    margin-top: 75px;
    width: 100%;
    height: 230px;
    background-color: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    color: rgb(185, 176, 176);
    .footer-container{
        width: 30%;
        margin: 10px;
        ul{
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }
        h4{
            font-size: 30px;
        }
    }
    .footer-brand{
        @extend .footer-container;
        text-align: center;
        .footer-logo{
            margin-bottom: 10px;
            width: 100%;
            height: 100px;
            background: {
                image: url(/assets/green-hills_coffee_logo.png);
                size: contain;
                repeat: no-repeat;
                position: center;
            }
        }
    }
    .footer-contact{
        @extend .footer-container;
        width: 40%;       
        ul{
            padding-left: 40px;
        }
        .contact-icon{
            font-size: 15px;
        }
        
    }
    .footer-media{
        @extend .footer-container;
        text-align: center;
        li {
            display: inline;
            margin-left: 20px; 
        }
        li:hover{
            cursor: pointer;
            color: #8d2b0d;
        }

        
    }
}

span.hash-tag{
    font-weight: bold;
    font-size: larger;
}